body, html {
    height: 100%;
    margin: 0;
    font-family: 'Jost','Times New Roman', Times, serif;
}

:root {
    --sidebar-color: #065f46;
    --body-text-color: #737373;
    --icon-height: 40px;
    --icon-width: 40px;
    --icon-border-radius: 100px;
    --small-icon-height: 25px;
    --small-icon-width: 25px;
    --small-icon-border-radius: 60px;
}

ul, li {
    list-style-type: none;
}

.icon {
    height: var(--icon-height);
    width: var(--icon-width);
    border-radius: var(--icon-border-radius);
    background-color: white;
}

.small-icon {
    height: var(--small-icon-height);
    width: var(--small-icon-width);
    border-radius: var(--small-icon-border-radius);
    background-color: white;
}

.container {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.container  {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}


.header {
    grid-column: 2 / 5;
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding: 25px;
    gap: 10px;
}

.sidebar {
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 3fr;
    /* border: 2px solid black; */
    padding: 5px;
    gap: 10px;
    background-color: var(--sidebar-color);
    color: white;

}

.dashboard-title img {
    padding: 5px;
}

.menu #user-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
} 

.menu > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.menu > ul > li > img {
    padding: 5px;
}

#gap {
    padding: 2vh;
}

.content {
    grid-row: 2 / 5;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    padding: 5px;
    gap: 10px;
    background-color: #d1d5db;
}

.options {
    grid-row: 2fr / 3fr;
}

.dashboard-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    gap: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 2vh;
}

#user-actions, #help {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 5px;
    /* border: 2px solid black; */
}

.projects-container {
    display: grid;
    gap: 1vh;
    padding: 1vh;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(3, 2fr);
    height: 95%;
    text-align: center;
}

.content-title {
    text-align: left;
    padding-left: 2vw;
}

.announcements {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    gap: 15px;
    padding: 1vh;
    text-align: center;
}

.trending {
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending-user-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.trending-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 15px;
}

#top-gap {
    padding-top: 10px;
}

.search-box {
    height: 30px;
    width: 800px;
    background-color: #d1d5db;
    border-radius: 40px;
}

.options {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.options > div {
    padding: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.right-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.options-profile-name {
    font-size: 2vh;
}

#options-alien {
    background-color: greenyellow;
    height: var(--icon-height);
    width: var(--icon-width);
    padding: 3px;
}

#nav-alien {
    background-color: greenyellow;
    height: 80px;
    width: 80px;
    padding: 3px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


strong {
    font-size: 2.5vh;
}

button {
    padding: 7px;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--sidebar-color);
    color: white;
    font-family: inherit;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.content-title {
    font-size: 2vh;
    text-align: left;
    align-items: center;
}

.projects, .announcements, .trending {
    background-color: #d1d5db;
}

.trending-user, .announcement, .project {
    background-color: white;
}

.project {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
    justify-content: start;
    /* border: 1px solid black; */
    box-shadow: 2px 2px var(--sidebar-color);
}

.announcement {
    border-radius: 15px;
}

.body-text {
    color: gray;
}